body {
    margin: 0;
    padding: 0;
    background: red;

}

section {
    margin-left: 20;

}

h1 {
    font-size: 20px;

}

header > p {
    Font-Style: italic;

}

article > p {
    font-size: 24px;
}
nav#topmenu ul {
    list-style: none;
    background-color: green;
    text-align: center;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 20px;
}

nav#topmenu li {
    Font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
}

nav#topmenu a {
    text-decoration: none;
    color: yellow;

}
   